.ctrl_area {
	display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

/* table */
table {
	width: 100%;
	border-spacing: 0;
	border-top: 1px solid #252525;
	border-left: 1px solid #252525;
}

/* 確認画面 */
th, td {
	padding: 0;
	text-align: center;
	white-space: nowrap;
	border-right: 1px solid #252525;
	border-bottom: 1px solid #252525;
}
thead, tbody {
	display: block;
    overflow-y: scroll;
}
tbody {
	height: 400px;
}
tr {
	display: flex;
}
.w30 {
    flex-basis: 4%;
}
.w50 {
	flex-basis: 8%;
}
.w100 {
	flex-basis: 10%;
}
.w150 {
	flex-basis: 20%;
}

/* 入力画面 */
.kinmuzisseki_nyuuryoku tr {
	height: 26px;
}
.kinmuzisseki_nyuuryoku input {
	width: 98%;
	height: 21px;
	font-size: 13px;
}

/*
* body定義
*/
/*勤務実績確認画面の背景設定　あいはま*/
body {
    background-color: #FFFFFF;
    overflow: hidden;
     background: url(../../pages/cmn/img/autumn.jpg) no-repeat;
     background-size: cover;
     /*overflow: hidden !important;*/
}
errorbody {
    background-color: red;
}
#wrapper {
    width:100%;
    padding:0px;
}
/*
* フッター定義
*/
#footer {
    bottom: 1%;
    height: 90px;
}
#footLeft {
    float:left;
    width:400px;
    text-align:left;
}
#footCenter {
    float:left;
    width:400px;
    text-align:center;
}
#footRight {
    float:left;
    width:400px;
    text-align:right;
}
/*
* ヘッダー、フッター共通定義
*/
#header,#gymBody,#footer {
    width: 100%;
    margin: 0px;
    padding: 5px;
    /*background-color: #66CCFF;*/
}
/*
* テーブルボディのスタイル
*/
.tblBody {
    background-color: rgba(224, 255, 255, 0.5);
}
/*
* 業務body定義
*/
#gymBody {
    height: 500px;
    overflow: auto;
}
/*
* ボタンサイズ通常
*/
.smlButton {
    width: 100px;
    height: 30px;
}

#header {
    top: 2px;
    height: 40px;
    width:100%;
}
#headCenter {
    font-size: 24px;
    color: #FFFF00;
    width:800px;
    text-align:center;

}
#headRight {
    width:200px;
    text-align:right;
}
#headLeft {
    width:200px;
    text-align:left;
}
/*
* テーブルヘッダーのスタイル
*/
.tblHeader {
    background-color: rgba(152, 251, 152, 0.5);
    font-weight: bold;
}

/*文字色修正*/
.moziColor{
	color:#ffff00;
}
.kinmuzisseki .header .title{
	color:#fb431c;
}

/*ボタンデザイン修正*/
.kinmuzisseki .smlButton{
  border-radius: 8px;
  height: 40px;
  border: none;
  background: #ffcc00;
 /* Changed color to yellow */
  color: #333;
 /* Changed text color to dark gray */

  box-shadow: 0 0.7065919983928324px 0.7065919983928324px -0.625px #00000026,
    0 1.8065619053231785px 1.8065619053231785px -1.25px #00000025,
    0 3.6217592146567767px 3.6217592146567767px -1.875px #00000023,
    0 6.8655999097303715px 6.8655999097303715px -2.5px #00000020,
    0 13.646761411524492px 13.646761411524492px -3.125px #0000001b,
    0 30px 30px -3.75px #0000000d;
  font-weight: bold;
  font-family: Montserrat;
  cursor: pointer;
  align-items: center;
  transition: 150ms ease-in-out;
}

.kinmuzisseki .smlButton:active {
  scale: 0.95;
  background: #333;
 /* Changed background color to dark gray */
  color: #ffcc00;
 /* Changed text color to yellow */
  box-shadow: rgba(0, 0, 0, 0.26) 0px 0.637473px 1.14745px -1.125px,
    rgba(0, 0, 0, 0.24) 0px 1.93094px 3.4757px -2.25px,
    rgba(0, 0, 0, 0.192) 0px 5.10423px 9.18761px -3.375px,
    rgba(0, 0, 0, 0.03) 0px 16px 28.8px -4.5px;
}